.nosotros-header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 0.4rem;
}

.nosotros-content {
    text-align: center;
}

.nosotros-content p{
    margin-top: 10px;
}

.linea{
    border-top: 1px solid gray;
}

.mision-vision {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas */
    gap: 20px; /* Espaciado entre los elementos */
    justify-content: space-between; /* Distribuye uniformemente */
    margin-top: 40px;
}


.mision, .vision, .valores {
    background-color: #f9f9f9; /* Fondo claro */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 20px;
    flex: 1 1 30%; /* Ajusta ancho relativo al espacio */
    min-width: 250px; /* Mínimo tamaño para evitar deformaciones */
    text-align: center;
}

.mision:hover, .vision:hover , .valores:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

.mision h3, .vision h3, .valores h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #003cff; /* Azul principal */
}

.mision p, .vision p, .valores p {
    font-size: 1rem;
    line-height: 1.8;
    color: #333; /* Gris oscuro para legibilidad */
}

.mision svg, .vision svg, .valores svg {
    font-size: 2.5rem;
    color: #003cff; /* Azul principal */
}

.valores p {
    margin-top: 10px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .mision-vision {
        flex-direction: column; /* Apila los elementos */
        gap: 15px; /* Reduce el espacio */
    }

    .mision, .vision, .valores {
        width: 100%; /* Elementos a ancho completo */
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
    background-color: F2F3F5;
}

.inicio {
    display: flex;
    justify-content: space-between; /* Distribuye la imagen y texto */
    align-items: center; /* Centra el contenido verticalmente */
    padding: 5rem 9%; /* Espaciado interno */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    background-size: cover;
    background-position: center;
}

/* Imagen: Ocupa la mitad de la pantalla */
.inicio-img {
    flex-basis: 50%; /* Toma el 50% del ancho */
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
}

.inicio-img img {
    width: 100px; /* Asegura que ocupe todo el espacio disponible */
    height: auto; /* Mantén las proporciones */
    object-fit: cover; /* Recorta la imagen si es necesario */
}

/* Contenido del texto */
.inicio-content {
    flex-basis: 50%; /* Toma el 50% del ancho */
    padding: 2rem; /* Espaciado interno */
    color: var(--text-color); /* Color de texto según la variable */
}

.inicio-content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.inicio-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
