/* Estilos del Sidebar */
.sidebar {
  width: 250px;
  background-color: #003cff;
  color: white;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para el encabezado del sidebar (logo y título) */
.sidebar-header {
  display: flex;
  align-items: center; /* Alinea el logo y el texto verticalmente */
  margin-bottom: 20px;
  justify-content: flex-start; /* Alinea todo al principio */
}

.sidebar-logo {
  width: 40px; /* Ajusta el tamaño del logo */
  height: 40px; /* Asegura que el logo sea cuadrado */
  margin-right: 15px; /* Espacio entre el logo y el texto */
  object-fit: contain;
}

.sidebar-header h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin: 0; /* Elimina márgenes del título */
}

/* Estilo de los elementos de navegación */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1; /* Hace que el ul ocupe todo el espacio disponible */
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 12px;
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  margin: 10px 0;
  transition: background-color 0.3s, transform 0.3s;
}

.sidebar-item:hover {
  background-color: #0052cc;
  transform: translateX(10px);
}

.sidebar-item .sidebar-icon {
  margin-right: 15px;
  font-size: 1.4rem;
}


  